* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}

header {
  padding: 45px 0;
  border-bottom: 2px solid #dedbdb;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-right i {
  font-size: 25px;
  color: #f0400f;
}

main {
  background: #fafafa;
  height: 100vh;
  padding: 46px;
}
.box {
  width: 650px;
  background: white;
  border: 1px solid #dedbdb;
  padding: 66px;
  margin: 0 auto;
  border-radius: 50px;
}
.box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-top h2 {
  font-size: 24px;
  color: #f0400f;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: center;
  color: #0e0d5d;
  margin-top: 40px;
}
.parents {
  width: 533px;
  height: 70px;
  background: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px 11px;
  gap: 42px;
  margin-top: 20px;
}
.parents p {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
  text-align: center;
  padding: 10px 40px;
  background-color: white;
  border-radius: 20px;
  width: 255px;
}
.parents span {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
  color: #757575;
}

input {
  width: 533px;
  height: 70px;
  background: #fafafa;
  border: 1px solid #75757530;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #757575b2;
  padding: 20px 51px;
  margin-top: 25px;
  outline: none;
}
#eye {
  font-size: 24px;
  margin-left: -60px;
}
.qr {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: center;
  margin-top: 18px;
  color: #000000a3;
}

.btn {
  padding: 16px 23px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  background: #F69E86;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  margin-left: 320px;
}
#err{
  font-size: 20px;
  text-align: center;
  color: red;
  margin-top: 10px; 
  display: none;
}
.space{
  background-color: white;
  width: 420px;
  height: 800px;
  margin: 50px 0px 150px 350px;
  border-radius: 30px;
  padding: 10px;
}
.im img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 5px solid rgb(64, 62, 62);
  margin: 50px 0px 0px 120px;
}
.space h3{
  text-align: center;
  margin-top: 5px;
}
.coin{
  background-color: #ff3700;
  border-radius: 20px;
  width: 400px;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coin h3{
  color: white;
}
.coin i{
  color: goldenrod;
}
.q h3{
  color: white;
}
.q{
  display: flex;
}
.c{
  display: flex;
}
#logout{
  border-radius: 20px;
  background-color: #0e0d5d;
  color: #fff;
  width: 200px;
  height: 60px;
  font-size: 20px;
}